@import vars

*
    margin: 0
    padding: 0
    border: 0
    box-sizing: border-box
    text-decoration: none
    font-size: $base-font-size

@import mixins
@import header
@import footer
@import main

.container
    &__body
        @include flex-column()

    &-center
        @include container-center()

.header-box
    @include flex-between-center()
    width: 100%
